.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.commentItem {
  display: flex;
  flex-direction: row;
}

.span-El {
  border-radius: 50px;
  padding: 5px;
}

.commentElements {
  padding-right: 5px;
}

.delete-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
